In [7]:
d1 = {
    "Joe Brown": 23,
    "Sue Doe": 18,
    "Bill Right": 20
}

for name in d1:
    print(name)

Joe Brown
Sue Doe
Bill Right

In [8]:
sum = 0
for age in d1.values():
    sum += age
    
print(sum/len(d1))

20.333333333333332

In [9]:
for name,age in d1.items():
    print(f"{name} is {age} years old.")

Joe Brown is 23 years old.
Sue Doe is 18 years old.
Bill Right is 20 years old.